<p style="color: green"><%= notice %></p>

<h1>
  Posts:
  <span id="posts_count">
    <%= @posts.count %>
  </span>
</h1>

<%= turbo_stream_from :posts_list %>

<div id="all-posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
